extends baseEmail 


block content 
    p Hi #{firstName},
        p=`Forgotten your password? Submit a Patch request with your new password and passwordConfirm to : ${url}\n`
        p (Website for this action not yet implemented.)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') RESET PASSWORD
        p If you didnt forget your password Please ignore this email
        p - Jonas Schmedtmann, CEO
